<div class="content" role="main">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="text" name="selectedItems" [(ngModel)]="selectedItems" hidden />
    <div *ngFor="let item of checkboxItems">
      <label>
        <input
          name="{{ item.value }}"
          [checked]="item.checked"
          type="checkbox"
          (change)="checkValue($event)"
        />
        {{ item.value }}
      </label>
    </div>
  </form>
  <div>
    <h2>You Selected the following:</h2>
    <div>
      <h2>{{ form.value | json }}</h2>
    </div>
  </div>
</div>
